<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Technical Test Beer</title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  	<link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>


	<div id="table_beers">
		<v-app id="inspire">
			<div>
				<v-switch
					label="Is organic"
					v-model="organic">
				</v-switch>
			</div>
			
			<div id="tableBeers">
				<v-data-table
					:headers="headers"
					:items="items"
					item-key=""
					:pagination.sync="pagination"
					hide-actions
					>
						
					<template slot="items" slot-scope="beer">
				    	<tr>
				      		<td><p class="titleBeer">{{ beer.item.name }}</p></td>
				      		<td class="text-xs-center">{{ beer.item.abv }}</td>
							<td class="text-xs-center">{{ beer.item.ibu }}</td>
				      		<td class="text-xs-center"><span v-html="beer.item.isOrganic"></span></td>
				      		<td class="text-xs-center"><span v-html="beer.item.status"></span></td>
				    	</tr>
				  	</template>

				</v-data-table>
			</div>
				
			<v-pagination
					id="pagination"
					v-model="pagination.page"
					:length="numberOfPage"
					:total-visible="pagination_total_visible"
					circle
				    >	
			</v-pagination>
		</v-app>
	</div>


	<script type="text/javascript" src="js/vue.min.js"></script>
  	<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery-ui.js"></script>

	<script type="text/javascript" src="js/beers.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	


</body>
</html>
